.list-item-container {
  border: 1px solid #9ba9eb;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .list-item-container {
    margin-right: 20px;
  }
}

.profile-details-container {
  display: flex;
}

.website-profile-container {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  align-self: center;
}

.letter {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
}

.password-details-container {
}

@media screen and (min-width: 768px) {
  .password-details-container {
    margin-right: 10px;
  }
}

.website-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

.user-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.password {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.stars-img {
  height: 20px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .website-name {
    font-size: 16px;
  }

  .user-name {
    font-size: 15px;
  }

  .password {
    font-size: 15px;
  }

  .stars-img {
    height: 16px;
    width: 100px;
  }
}

.delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.delete-icon {
  height: 30px;
  width: 30px;
}
